@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0A;
  --foreground: #FAFAFA;
}

html {
  background: #0A0A0A;
}

body {
  color: #FAFAFA;
  background: #0A0A0A;
  font-family: var(--font-geist-sans), sans-serif;
}

@layer utilities {
  .font-mono-accent {
    font-family: var(--font-geist-mono), monospace;
  }
  .text-balance {
    text-wrap: balance;
  }
}
